@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import "~bootstrap/scss/bootstrap";
@import './scss/variable';
@import './scss/mixing';
.flex {
    @include flex(column);
    background-color: $main-color-1;
    min-height: 100vh;
}

.app {
    @extend .flex;
}

.contain-box {
    @include containBox();
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.column {
    height: 400px;
    width: 237px;
    margin: 20px;
    border-radius: $big-round;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.first-column,
.second-column {
    background-color: $main-color-2;
    box-shadow: $box-shadow-lg;
}

.movable-item {
    color: white;
    height: 100px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset {
    border: 1px solid $secondary-color-1;
    border-radius: $medium-round;
    padding: 10px;
    margin-bottom: 20px;
    @include media-breakpoint-down(sm) {
        padding: 2px;
    }
}

legend {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    font-weight: $label-table-titles;
}

input[type="text"] {
    background-color: white;
    border: 0;
    color: $main-color-2;
}

.first-column,
.second-column,
.movable-item {
    @include media-breakpoint-down(sm) {
        transform: scale(0.8);
    }
    @include media-breakpoint-down(md) {
        transform: scale(0.9);
    }
}

.extra {
    background-color: $secondary-color-2;
    border-color: $secondary-color-2;
    color: white;
    margin-bottom: 17px;
    border-radius: $small-round;
    @include buttonText();
    &:hover {
        background-color: transparent;
        border: 2px dashed $secondary-color-2;
    }
}

.text-inputs,
fieldset {
    @include media-breakpoint-down(sm) {
        transform: scale(0.7);
    }
    @include media-breakpoint-down(md) {
        transform: scale(0.8);
    }
}

label[for="name"],
label[for="gender"],
label[for="nickname"] {
    font-family: $main-font;
    font-weight: $label-table-titles;
}

label[for="male"],
label[for="female"] {
    display: flex;
    gap: 3px;
}

table {
    border-radius: $medium-round;
    background-color: $main-color-2;
    border: 0;
    color: white;
    padding: 2px;
    text-align: center;
    thead {
        font-weight: $label-table-titles;
        th:nth-of-type(2) {
            border: 1px solid $secondary-color-1;
            border-right: 0;
            border-top: 0;
            padding: 8px;
        }
        ;
        th:nth-of-type(1) {
            border: 1px solid $secondary-color-1;
            border-right: 0;
            border-top: 0;
            border-left: 0;
            padding: 8px;
        }
    }
    tbody {
        font-family: $main-font;
        font-weight: $input-text-table-values;
        td {
            border-left: 1px solid $secondary-color-1;
            padding: 8px;
        }
    }
}
