$container-padding-x: 20px;

/***************\
  Design system
\***************/

// Colors:
$main-color-1: #F3AA1D;
$main-color-2: #282828;
$secondary-color-1: #C3C3C3;
$secondary-color-2: #369673;
// Typographie
$label-table-titles: 500;
$input-text-table-values: 400;
$button-text: 600;
$main-font: 'Inter';
// Rounded corners (radius)
$big-round: 10px;
$medium-round: 5px;
$small-round: 2.5px